
html, body, .ui.page.grid, .column {
	height: 100%;
}

.header {
	font-family: 'Helevtica', sans-serif;
}

.ui.header,
tfoot .content {
	text-align: center;
}

.header a {
	color: #D95C5C;
	text-decoration: none;
	&:visited {
		color: #D95C5C;
	}
}

thead tr th {
	.sort {
		&.ascending.icon {
			display: none;
		}

		&.descending.icon {
			display: none;
		}
	}

	&.header {
		&.headerSortUp {
			.sort {
				display: none;
				&.ascending.icon {
					display: none;
				}
				&.descending.icon {
					display: inline-block;
				}
			}
		}

		&.headerSortDown {
			.sort {
				display: none;
				&.ascending.icon {
					display: inline-block;
				}
				&.descending.icon {
					display: none;
				}
			}
		}
	}
}

.choices .button {
	max-width: 300px;
	margin: 0 auto 20px auto;
	display: block;
}